@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap');


$base-font: 'Montserrat', sans-serif, Arial, Helvetica;
$aux-font: 'Open Sans', sans-serif;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
$boldissimo: 900;

$size-8: .8rem;
$size-10: 1rem;
$size-12: 1.2rem;
$size-13: 1.3rem;
$size-16: 1.6rem;
$size-18: 1.8rem;
$size-24: 2.4rem;

$color-btn-normal: rgba(76, 61, 178, 1);
$color-main-normal: #5C6A79;
$color-main-phat: #1C2A39;


$l-height-12: 1.2em;
$l-height-14: 1.4rem;
$l-height-15: 1.5rem;
$l-height-16: 1.6rem;
$l-height-20: 2rem;
$l-height-22: 2.2rem;

$header-height: 11.6rem;
