* {
  outline: solid 1px goldenrod;
}

.retrainingContainer {
  display: grid;
  width: 112rem;
  margin: 0 auto;
}

.headerContainer {
  grid-row: 1/2;
}

.heroContainer {
  grid-row: 2/3;
  margin-bottom: 10.5rem;
  height: 70.2rem;
  background-color: pink;
}

.contentContainer {
  position: relative;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 3 auto;
  grid-template-rows: auto;
  z-index: 0;
}

.sideNavContainer {
  position: absolute;
  display: flex;
  padding-top: 4.5rem;
  padding-left: 16rem;
  justify-content: space-between;
  width: 41.6rem;
  height: 71rem;
  background-color: grey;
  translate: -16rem;
  z-index: -1;
}

.bookGallery {
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 7.5rem;
  grid-row-gap: 9rem;
  margin: 0 auto;
  max-width: 92.4rem;
  width: 100%;
  translate: 9.8rem 4.6rem;
  margin-bottom: 7.4rem;
}

.bookCard {
  width: 424px;
  height: 300px;
  background-color: coral;
}

.loadBtnContainer {
    grid-column: 1/-1;
    display: grid;
    justify-content: center;
}



@media (max-width: 1120px) {
  .bookGallery{
    max-width: 100%;
    padding: 0 15px;
    grid-template-columns: 1fr;
  }
}
