@import "/src/app/styles/vars.scss";

.bookCard {
  display: flex;
  column-gap: 3.6rem;
  width: 42.4rem;
  height: 30rem;
}

.coverContainer {
  height: 30rem;
  width: 21.2rem;
  box-shadow: 0px 24px 36px 0px #35315447;
  transition: transform 1s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}

.cover {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.bookData {
  display: grid;
  grid-template-rows: 1.8rem, 2.4rem, 2.9rem, 5.5rem, 3.2rem, 4.5rem;
  width: 21.2rem;
  padding: 4.8rem 0;
}

.author {
  font-family: $aux-font;
  font-size: $size-10;
  font-weight: $normal;
  line-height: $l-height-14;
  color: $color-main-normal;
  white-space: pre-wrap;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  height: 1.5rem;
  margin-bottom: 0.4rem;
}

.title {
  font-family: $base-font;
  font-size: $size-16;
  font-weight: $bold;
  line-height: $l-height-20;
  color: $color-main-phat;
  margin-bottom: 0.4rem;
}

.ratingBar {
  display: flex;
  column-gap: 0.6rem;
  font-family: $aux-font;
  font-size: $size-10;
  font-weight: $normal;
  line-height: $l-height-14;
  color: $color-main-normal;
  margin-bottom: 1.6rem;
  position: relative;
  height: 1.2rem;
  width: fit-content;
}

.reviewCount {
  font-family: $aux-font;
  background-color: transparent;
}

.description {
  font-family: $aux-font;
  font-size: $size-10;
  font-weight: $normal;
  line-height: $l-height-14;
  color: $color-main-normal;
  text-transform: capitalize;
  white-space: pre-wrap;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  height: 4.1rem;
  width: 17.6rem;
  margin-bottom: 1.6rem;
}

.price {
  font-family: $base-font;
  font-size: $size-13;
  font-weight: $bold;
  line-height: $l-height-16;
  color: $color-main-phat;
  height: 1.6rem;
  margin-bottom: 1.6rem;
}

.buttonContainer {
  display: block;
}

@media (max-width: 690px) {
  .bookCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 0rem;
    row-gap: 1rem;
    width: unset;
    height: unset;
  }

  .bookData {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 0;
  }

  .title {
    text-align: center;
  }

  .description {
    text-align: center;
  }
}
