@import "/src/app/styles/vars.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11.6rem;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid $color-btn-normal;
    border-radius: 0px;
    font-family: $base-font;
    color: $color-btn-normal;
    font-size: $size-8;
    text-transform: uppercase;
    font-weight: $bold;
    line-height: .1rem;
    cursor: pointer;
}

